.container{
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100%;
}
.options{
    background-color: rgb(0, 0, 0);
    height: 100%;
}
.information{
    background-color: rgb(0, 0, 255);
    height: 100%;
}